.field-columns {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card-title {
    font-weight: 700;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    h1 {
        font-size: 50px;
    }
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    .fields-left-col,
    .fields-right-col {
        padding: 30px;
    }
}

.btn-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    button {
        font-size: 30px;
        height: 45px;
        width: 50%;
        border: 1px solid rgb(66, 63, 63);
    }
}

.results-container {
    h1 {
        font-size: 45px;
        margin-top: 40px;
    }
    h1,
    .columns {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}