<div class="content" role="main">
    <div class="card-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="card-container">
        <form autocomplete="off" (ngSubmit)="convert()" [formGroup]="currencyExchangeForm">
            <div class="form-container">
                <div class="columns field-columns">
                    <div class="column fields-left-col">
                        <h2>Select the amount and currency for conversion</h2>
                        <div class="columns field-columns">
                            <div class="column">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Enter the amount to convert</mat-label>
                                    <input matInput type="number" placeholder="Enter the value" value="0" formControlName="fromCurrencyValue" />
                                    <mat-hint>Enter the amount to convert</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="column">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Select the currency</mat-label>
                                    <mat-select placeholder="Select" formControlName="fromCurrencyCoin">
                                        <mat-option>None</mat-option>
                                        <mat-option [value]="currency.id" *ngFor="let currency of currenciesArray">{{ currency.name }}</mat-option>
                                    </mat-select>
                                    <mat-hint>Select the currency to convert</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="column fields-right-col">
                        <h2>Select the currency or currencies to convert</h2>
                        <div class="columns field-columns">
                            <div class="column">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Select the currency</mat-label>
                                    <mat-select placeholder="Select" multiple formControlName="toCurrencyCoin">
                                        <mat-option [value]="currency.id" *ngFor="let currency of currenciesArray">{{ currency.name }}</mat-option>
                                    </mat-select>
                                    <mat-hint>You can select one or more currencies</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-error *ngIf="!isFormValid">We are sorry, but the amount to convert, currency from and the currency to are required</mat-error>
            </div>
            <div class="btn-container">
                <button mat-button color="primary">Convert</button>
            </div>
        </form>
    </div>

    <!-- Links -->
    <div class="card-container results-container" *ngIf="conversionList && conversionList.length !== 0">
        <h1 class="field-columns">Results</h1>
        <div class="columns">
            <div class="column">
                <h2>
                    {{ currencyExchangeForm.controls["fromCurrencyValue"].value | currency }} - {{currencyExchangeForm.controls["fromCurrencyCoin"].value}} ({{ getCurrencyName( currencyExchangeForm.controls["fromCurrencyCoin"].value ) }})
                </h2>
            </div>
            <h2 class="field-columns">Are worth</h2>
            <div class="column">
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let conversionItem of conversionList">
                        <h2>
                            {{ conversionItem.value | currency }} - {{conversionItem.id}} ({{ conversionItem.name }})
                        </h2>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>